<!DOCTYPE html>
<html>
    <head>
        <title>home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <img src="https://angularjs.org/img/AngularJS-large.png" height="50px" weight="50px"/>
        <h1>sum of two numbers using Angularjs as a script and Nodejs as a server</h1>
        <div ng-app="">
            <input type="number" placeholder="Enter an integer" ng-model="a" required>
            <input type="number" placeholder="Enter an integer" ng-model="b" required>
            sum : {{ a+b }}
        </div>
    </body>
</html>
